@use 'functions' as *;
@use 'mixins' as *;
@use 'fonts' as *;
@use 'colors' as *;

// mobile layout screen-width : 0 → 414px...
.card {
  @include flex-col(center, center, wrap);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 25px;

  &-img {
    img {
      width: 100%;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &-content {
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 1.3rem;
    color: set-color(txt-primary);
    text-shadow: 1px 1px 1px rgba(set-color(shadow-primary), 0.7);
    background-color: rgba(set-color(bg-secondary), 0.6);
    padding: 5px;
    margin-top: -7px;
  }

  &-input {
    @include flex-row(center, center, wrap);
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(set-color(bg-secondary), 0.8);
    transition: height 0.3s ease-in-out;

    &.show {
      height: 100%;
      transition: height 0.3s ease-in-out;
    }

    &_btn {
      height: 0;
      background-color: transparent;
      color: set-color(txt-primary);
      outline: none;
      border: none;
      font-size: 30px;
      transition: all 0.3s ease;

      &.show {
        height: auto;
      }

      &:hover {
        text-shadow: 2px 4px 8px rgba(set-color(shadow-secondary), 0.8),
          -2px -4px 8px rgba(set-color(shadow-secondary), 0.8);
      }

      span {
        margin-right: 10px;
      }
    }
  }
}

// tablet layout screen-width : 415 → 1024px...
@media screen and (min-width: 415px) {
  .card {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(set-color(shadow-primary), 0.2),
      0 6px 20px 0 rgba(set-color(shadow-primary), 0.19);

    &-img {
      img {
        width: 100%;
      }
    }

    &-content {
      width: 100%;
    }
  }
}

// desktop layout screen-width : 1025px +...
@media screen and (min-width: 1025px) {
  .card {
    margin-right: 10px;
    transition: all 0.3s ease-in;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(set-color(shadow-secondary), 0.8),
        0 6px 20px 0 rgba(set-color(shadow-secondary), 0.8);
      transform: scale(1.1);
      transition: all 0.3s ease-in;

      img {
        filter: grayscale(100%);
        transition: all 0.3s ease-in;
      }
    }

    &-content {
      padding: 5px 60px;
      text-align: justify;
    }

    &-input {
      position: static;
      display: block;
      height: 70px;
      text-align: center;
      background-color: rgba(set-color(bg-secondary), 0.6);
      padding: 20px 0;
    }
  }
}
