@use 'index' as *;

// main resets____________________
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
  list-style: none;
  font-family: set-font("heading1");
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: white;
}
//________________________________
